<div class="bg-white border border-gray-150 shadow rounded-md mb-10">
    <div class="px-6 py-4 border-b border-gray-150">
        <div class="font-bold text-lg text-[$262626] leading-none">
            Lịch sử hoạt động
        </div>
    </div>
    <app-table [data]="events"
               [showHeader]="false"
               [pagination]="pagination"
               (pageChanges)="pageChange.emit($event)">
        <app-table-column key="message" width="400px">
            <ng-template table-cell let-row>
                <span [innerHTML]="(row.message | parseMessage: row.params) | nzSanitizer: 'html'"></span>
            </ng-template>
        </app-table-column>
        <app-table-column key="createdAt" width="100px" align="right">
            <ng-template table-cell let-row>
                <span class="text-gray-400">{{ row.createdAt | date: 'dd/MM/yyyy HH:mm' }}</span>
            </ng-template>
        </app-table-column>
    </app-table>
</div>
