<div class="bg-white border border-gray-150 shadow rounded-md mb-10">
    <div class="px-6 py-4 border-b border-gray-150">
        <div class="font-bold text-lg text-[$262626] leading-none">
            Lịch sử hoạt động
        </div>
    </div>
    <app-table [data]="events"
               [showHeader]="false"
               [showIndex]="false"
               [pagination]="pagination"
               (pageChanges)="pageChange.emit($event)">
        <app-table-column [responsive]="{ md: true }" key="message" width="400px">
            <ng-template table-cell let-row>
                <ng-container *ngIf="row.message | parseMessage: row.params as msg">
                    <ng-container *ngIf="msg.routerLink; else normalMsgTmpl;">
                        <a [routerLink]="msg.routerLink" [queryParams]="msg.queryParams || null"
                           [innerHTML]="msg.message | nzSanitizer: 'html'">
                        </a>
                    </ng-container>
                    <ng-template #normalMsgTmpl>
                        <span [innerHTML]="msg.message | nzSanitizer: 'html'"></span>
                    </ng-template>
                </ng-container>
            </ng-template>
        </app-table-column>
        <app-table-column [responsive]="{ md: true }" key="createdAt" width="100px" align="right">
            <ng-template table-cell let-row>
                <span class="text-gray-400">{{ row.createdAt | date: 'dd/MM/yyyy HH:mm' }}</span>
            </ng-template>
        </app-table-column>
        <app-table-column [responsive]="{ xs: true, md: false }" key="">
            <ng-template table-cell let-row>
                <ng-container *ngIf="row.message | parseMessage: row.params as msg">
                    <ng-container *ngIf="msg.routerLink; else normalMsgTmpl;">
                        <a [routerLink]="msg.routerLink" [queryParams]="msg.queryParams || null"
                           [innerHTML]="msg.message | nzSanitizer: 'html'">
                        </a>
                    </ng-container>
                    <ng-template #normalMsgTmpl>
                        <span [innerHTML]="msg.message | nzSanitizer: 'html'"></span>
                    </ng-template>
                </ng-container>
                <div class="w-full flex justify-end mt-1">
                    <span class="text-gray-400">{{ row.createdAt | date: 'dd/MM/yyyy HH:mm' }}</span>
                </div>
            </ng-template>
        </app-table-column>
    </app-table>
</div>
