<nz-modal [(nzVisible)]="isVisible"
          [nzTitle]="'Phê duyệt đề tài'"
          [nzCentered]="true"
          [nzBodyStyle]="{ padding: '0' }"
          [nzWidth]="600"
          (nzOnCancel)="onClose()">
    <ng-container *nzModalContent>
        <div class="w-full max-h-[500px] overflow-y-auto scrollable">
            <nz-spin [nzSpinning]="isLoading">
                <ng-container *ngIf="project">
                    <div class="grid grid-cols-12 gap-2 px-4 py-2 border-b border-gray-150">
                        <div class="col-span-4">
                            Tên đồ án
                        </div>
                        <div class="col-span-8">
                            {{ project.name }}
                        </div>
                    </div>
                    <div class="grid grid-cols-12 gap-2 px-4 py-2 border-b border-gray-150">
                        <div class="col-span-4">
                            Thời gian đề xuất
                        </div>
                        <div class="col-span-8">
                            {{ project.createdAt | date: 'dd/MM/yyyy HH:mm' }}
                        </div>
                    </div>
                    <div class="grid grid-cols-12 gap-2 px-4 py-2 border-b border-gray-150">
                        <div class="col-span-4">
                            Khoa
                        </div>
                        <div class="col-span-8">
                            {{ project.department?.name }}
                        </div>
                    </div>
                    <div class="grid grid-cols-12 gap-2 px-4 py-2 border-b border-gray-150">
                        <div class="col-span-4">
                            Người hướng dẫn
                        </div>
                        <div class="col-span-8">
                            {{ project.instructor?.fullName }}
                        </div>
                    </div>
                    <div class="grid grid-cols-12 gap-2 px-4 py-2 border-b border-gray-150">
                        <div class="col-span-4">
                            Sinh viên thực hiện
                        </div>
                        <div class="col-span-8">
                            <div *ngFor="let student of project.students">
                                {{ student.code }} - {{ student.fullName }}
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-12 gap-2 px-4 py-2 border-b border-gray-150">
                        <div class="col-span-4">
                            Mô tả
                        </div>
                        <div class="col-span-8">
                            {{ project.description }}
                        </div>
                    </div>
                    <div class="grid grid-cols-12 gap-2 px-4 py-2">
                        <div class="col-span-4">
                            Yêu cầu
                        </div>
                        <div class="col-span-8">
                            {{ project.requirement }}
                        </div>
                    </div>
                </ng-container>
            </nz-spin>
        </div>
    </ng-container>
    <ng-container *nzModalFooter>
        <button class="w-[100px]" nzSize="large" nz-button nzType="default" [disabled]="isLoading" (click)="onClose()">
            Trở về
        </button>
        <button class="w-[100px]" nzSize="large" nz-button nzType="dashed" [disabled]="isLoading" (click)="onRefuse()">
            Từ chối
        </button>
        <button class="w-[100px]" nzSize="large" nz-button nzType="primary" [disabled]="isLoading" (click)="onApprove()">
            Duyệt
        </button>
    </ng-container>
</nz-modal>

<ng-template #refuseContent let-params let-ref="modalRef">
    <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="reason">Lý do</nz-form-label>
        <nz-form-control [nzSpan]="24">
            <textarea rows="2" [(ngModel)]="params.reason" nz-input></textarea>
        </nz-form-control>
    </nz-form-item>

    <div class="grid grid-cols-2 gap-4 mt-4">
        <button nz-button nzType="primary" nzSize="large" (click)="ref.destroy(params)">
            Từ chối
        </button>
        <button nz-button nzType="default" nzSize="large" (click)="ref.destroy()">
            Trở lại
        </button>
    </div>
</ng-template>
