<nz-modal [(nzVisible)]="isVisible"
          [nzTitle]="'Phê duyệt đề tài'"
          [nzCentered]="true"
          [nzWidth]="600"
          [nzBodyStyle]="{ padding: '0' }"
          (nzOnCancel)="onCancel()">
    <ng-container *nzModalContent>
        <nz-spin [nzSpinning]="isLoading">
            <ng-container *ngIf="project">
                <div class="grid grid-cols-12 gap-2 px-4 py-2 border-b border-gray-150">
                    <div class="col-span-4">
                        Tên đề tài
                    </div>
                    <div class="col-span-8">
                        {{ project.name }}
                    </div>
                </div>
                <div class="grid grid-cols-12 gap-2 px-4 py-2 border-b border-gray-150">
                    <div class="col-span-4">
                        Thời gian đề xuất
                    </div>
                    <div class="col-span-8">
                        {{ project.createdAt | date: 'dd/MM/yyyy HH:mm' }}
                    </div>
                </div>
                <div class="grid grid-cols-12 gap-2 px-4 py-2 border-b border-gray-150">
                    <div class="col-span-4">
                        Khoa
                    </div>
                    <div class="col-span-8">
                        {{ project.department?.name }}
                    </div>
                </div>
                <div class="grid grid-cols-12 gap-2 px-4 py-2 border-b border-gray-150">
                    <div class="col-span-4">
                        Học kỳ
                    </div>
                    <div class="col-span-8">
                        {{ project.semester?.name }}
                    </div>
                </div>
                <div class="grid grid-cols-12 gap-2 px-4 py-2 border-b border-gray-150">
                    <div class="col-span-4">
                        Người đề xuất
                    </div>
                    <div class="col-span-8">
                        {{ project.createdBy?.fullName }}
                    </div>
                </div>
                <div class="grid grid-cols-12 gap-2 px-4 py-2 border-b border-gray-150">
                    <div class="col-span-4">
                        Người hướng dẫn
                    </div>
                    <div class="col-span-8">
                        {{ project.instructor?.fullName }}
                    </div>
                </div>
                <div class="grid grid-cols-12 gap-2 px-4 py-2 border-b border-gray-150">
                    <div class="col-span-4">
                        Sinh viên thực hiện
                    </div>
                    <div class="col-span-8">
                        <div *ngFor="let student of project.students">
                            {{ student.code }} - {{ student.fullName }}
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-12 gap-2 px-4 py-2 border-b border-gray-150">
                    <div class="col-span-4">
                        Mô tả
                    </div>
                    <div class="col-span-8">
                        {{ project.description }}
                    </div>
                </div>
                <div class="grid grid-cols-12 gap-2 px-4 py-2">
                    <div class="col-span-4">
                        Yêu cầu
                    </div>
                    <div class="col-span-8">
                        {{ project.requirement }}
                    </div>
                </div>
            </ng-container>
        </nz-spin>
    </ng-container>
    <ng-container *nzModalFooter>
        <div class="flex justify-between gap-2">
            <button class="flex items-center justify-center w-[100px]"
                    nzSize="large" nz-button nzType="default" (click)="onCancel()" [disabled]="isLoading">
                <i class='bx bx-chevron-left text-lg'></i>
                <span class="mr-1.5">Quay lại</span>
            </button>

            <div class="flex gap-2">
                <button class="w-[100px]" nzSize="large" nz-button nzType="dashed" [disabled]="isLoading" (click)="onRefuse()">
                    Từ chối
                </button>
                <button class="w-[100px]" nzSize="large" nz-button nzType="primary" [disabled]="isLoading" (click)="onApprove()">
                    Duyệt
                </button>
            </div>
        </div>
    </ng-container>
</nz-modal>

<ng-template #refuseContent let-params let-ref="modalRef">
    <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="reason">Lý do</nz-form-label>
        <nz-form-control [nzSpan]="24">
            <textarea rows="2" [(ngModel)]="params.reason" nz-input></textarea>
        </nz-form-control>
    </nz-form-item>

    <div class="grid grid-cols-2 gap-4 mt-4">
        <button nz-button nzType="default" nzSize="large" (click)="ref.destroy()">
            Quay lại
        </button>
        <button nz-button nzType="primary" nzSize="large" (click)="ref.destroy(params)">
            Từ chối
        </button>
    </div>
</ng-template>
