<div class="container mx-auto">
    <nz-spin [nzSpinning]="isLoading$ | async">
        <ng-container *ngIf="project$ | async as project">
            <app-toolbar [pageTitle]="'Thông tin đề tài'"
                         [breadcrumbs]="[
                    { title: 'Trang chủ' },
                    { title: 'Danh sách đề tài', url: '/project-management' },
                    { title: project.name || '' }
                 ]">
                <div class="flex justify-end items-center gap-2">
                    <button routerLink="/project-management" nz-button nzType="default" class="ml-2">Trở về</button>
                </div>
            </app-toolbar>

            <div class="flex flex-col gap-4 md:gap-6 mb-4 md:mb-6 items-center">
                <div class="w-full lg:w-4/5 2xl:w-3/5 bg-white rounded-md shadow-md">
                    <div class="px-6 py-4 border-b border-gray-150">
                        <div class="font-bold text-lg text-[#262626] leading-none">Thông tin đề tài</div>
                    </div>
                    <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                        <div class="col-span-12 md:col-span-3 text-[#595959]">
                            Tên đề tài
                        </div>
                        <div class="col-span-12 md:col-span-9 text-[#262626]">
                            {{ project.name }}
                        </div>
                    </div>
                    <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                        <div class="col-span-12 md:col-span-3 text-[#595959]">
                            Trạng thái
                        </div>
                        <div class="col-span-12 md:col-span-9 text-[#262626]">
                            <div *ngIf="(project.status || '' | projectStatus) as status"
                                 [ngClass]="status.class"
                                 class="rounded-md px-2 py-1 text-center w-[150px]">
                                {{ status.label }}
                            </div>
                        </div>
                    </div>
                    <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                        <div class="col-span-12 md:col-span-3 text-[#595959]">
                            Người duyệt
                        </div>
                        <div class="col-span-12 md:col-span-9 text-[#262626]"
                             [class.invisible]="!project.reviewedBy?.fullName">
                            {{ project.reviewedBy?.fullName || '#' }}
                        </div>
                    </div>
                    <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                        <div class="col-span-12 md:col-span-3 text-[#595959]">
                            Học kỳ
                        </div>
                        <div class="col-span-12 md:col-span-9 text-[#262626]">
                            {{ project.semester?.name }}
                        </div>
                    </div>
                    <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                        <div class="col-span-12 md:col-span-3 text-[#595959]">
                            Khoa
                        </div>
                        <div class="col-span-12 md:col-span-9 text-[#262626]">
                            {{ project.department?.name }}
                        </div>
                    </div>
                    <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                        <div class="col-span-12 md:col-span-3 text-[#595959]">
                            Mô tả
                        </div>
                        <div class="col-span-12 md:col-span-9 text-[#262626]"
                             [class.invisible]="!project.description">
                            {{ project.description || '#' }}
                        </div>
                    </div>
                    <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                        <div class="col-span-12 md:col-span-3 text-[#595959]">
                            Yêu cầu
                        </div>
                        <div class="col-span-12 md:col-span-9 text-[#262626]"
                             [class.invisible]="!project.requirement">
                            {{ project.requirement || '#' }}
                        </div>
                    </div>
                    <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                        <div class="col-span-12 md:col-span-3 text-[#595959]">
                            Sinh viên thực hiện
                        </div>
                        <div class="col-span-12 md:col-span-9 text-[#262626]"
                             [class.invisible]="!project.students?.length">
                            <div *ngFor="let student of project.students">
                                {{ student.code }} - {{ student.fullName }}
                            </div>
                            <ng-container *ngIf="!project.students?.length">#</ng-container>
                        </div>
                    </div>
                    <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1">
                        <div class="col-span-12 md:col-span-3 text-[#595959]">
                            Người hướng dẫn
                        </div>
                        <div class="col-span-12 md:col-span-9 text-[#262626]"
                             [class.invisible]="!project.instructor?.fullName">
                            {{ project.instructor?.fullName }}
                        </div>
                    </div>
                </div>
                <ng-container *ngLet="project.progresses | progressToObject as progress">

                    <!--Báo cáo tiến độ-->
                    <div class="w-full lg:w-4/5 2xl:w-3/5 bg-white rounded-md shadow-md">
                        <div class="px-6 py-4 border-b border-gray-150">
                            <div class="font-bold text-lg text-[#262626] leading-none">Báo cáo tiến độ</div>
                        </div>
                        <!--Đề cương đồ án-->
                        <div class="px-6 py-3 bg-[#F5F5F5] font-semibold border-b border-gray-100">
                            Đề cương đồ án
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Đề cương
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                <a *ngIf="progress && progress['rp']?.otherFile"
                                   [href]="progress['rp'].otherFile.webViewLink" target="_blank"
                                   class="px-2 w-fit max-w-full flex justify-between items-center gap-1 rounded-md bg-gray-200 text-gray-500">
                                    <span class="mr-2 max-w-[90%] truncate">{{ progress['rp'].otherFile.name }}</span>
                                    <a [href]="progress['rp'].otherFile.webContentLink" (click)="$event.stopPropagation();">
                                        <i class='bx bx-download text-blue-400 hover:text-blue-600 transition-all duration-300'></i>
                                    </a>
                                </a>
                            </div>
                        </div>

                        <!--Báo cáo tiến độ lần 1-->
                        <div class="px-6 py-3 bg-[#F5F5F5] font-semibold border-b border-gray-100">
                            Báo cáo tiến độ (lần 1)
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Quyển đồ án
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                <a *ngIf="progress && progress['rp1']?.wordFile"
                                   [href]="progress['rp1'].wordFile.webViewLink" target="_blank"
                                   class="px-2 w-fit max-w-full flex justify-between items-center gap-1 rounded-md bg-gray-200 text-gray-500">
                                    <span class="mr-2 max-w-[90%] truncate">{{ progress['rp1'].wordFile.name }}</span>
                                    <a [href]="progress['rp1'].wordFile.webContentLink" (click)="$event.stopPropagation();">
                                        <i class='bx bx-download text-blue-400 hover:text-blue-600 transition-all duration-300'></i>
                                    </a>
                                </a>
                            </div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Phiếu báo cáo
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                <a *ngIf="progress && progress['rp1']?.reportFile"
                                   [href]="progress['rp1'].reportFile.webViewLink" target="_blank"
                                   class="px-2 w-fit max-w-full flex justify-between items-center gap-1 rounded-md bg-gray-200 text-gray-500">
                                    <span class="mr-2 max-w-[90%] truncate">{{ progress['rp1'].reportFile.name }}</span>
                                    <a [href]="progress['rp1'].reportFile.webContentLink" (click)="$event.stopPropagation();">
                                        <i class='bx bx-download text-blue-400 hover:text-blue-600 transition-all duration-300'></i>
                                    </a>
                                </a>
                            </div>
                        </div>

                        <!--Báo cáo tiến độ lần 2-->
                        <div class="px-6 py-3 bg-[#F5F5F5] font-semibold border-b border-gray-100">
                            Báo cáo tiến độ (lần 2)
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Quyển đồ án
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                <a *ngIf="progress && progress['rp2']?.wordFile"
                                   [href]="progress['rp2'].wordFile.webViewLink" target="_blank"
                                   class="px-2 w-fit max-w-full flex justify-between items-center gap-1 rounded-md bg-gray-200 text-gray-500">
                                    <span class="mr-2 max-w-[90%] truncate">{{ progress['rp2'].wordFile.name }}</span>
                                    <a [href]="progress['rp2'].wordFile.webContentLink" (click)="$event.stopPropagation();">
                                        <i class='bx bx-download text-blue-400 hover:text-blue-600 transition-all duration-300'></i>
                                    </a>
                                </a>
                            </div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Phiếu báo cáo
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                <a *ngIf="progress && progress['rp2']?.reportFile"
                                   [href]="progress['rp2'].reportFile.webViewLink" target="_blank"
                                   class="px-2 w-fit max-w-full flex justify-between items-center gap-1 rounded-md bg-gray-200 text-gray-500">
                                    <span class="mr-2 max-w-[90%] truncate">{{ progress['rp2'].reportFile.name }}</span>
                                    <a [href]="progress['rp2'].reportFile.webContentLink" (click)="$event.stopPropagation();">
                                        <i class='bx bx-download text-blue-400 hover:text-blue-600 transition-all duration-300'></i>
                                    </a>
                                </a>
                            </div>
                        </div>

                        <!--Báo cáo tiến độ lần 3-->
                        <div class="px-6 py-3 bg-[#F5F5F5] font-semibold border-b border-gray-100">
                            Báo cáo tiến độ (lần 3)
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Quyển đồ án
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                <a *ngIf="progress && progress['rp3']?.wordFile"
                                   [href]="progress['rp3'].wordFile.webViewLink" target="_blank"
                                   class="px-2 w-fit max-w-full flex justify-between items-center gap-1 rounded-md bg-gray-200 text-gray-500">
                                    <span class="mr-2 max-w-[90%] truncate">{{ progress['rp3'].wordFile.name }}</span>
                                    <a [href]="progress['rp3'].wordFile.webContentLink" (click)="$event.stopPropagation();">
                                        <i class='bx bx-download text-blue-400 hover:text-blue-600 transition-all duration-300'></i>
                                    </a>
                                </a>
                            </div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Phiếu báo cáo
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                <a *ngIf="progress && progress['rp3']?.reportFile"
                                   [href]="progress['rp3'].reportFile.webViewLink" target="_blank"
                                   class="px-2 w-fit max-w-full flex justify-between items-center gap-1 rounded-md bg-gray-200 text-gray-500">
                                    <span class="mr-2 max-w-[90%] truncate">{{ progress['rp3'].reportFile.name }}</span>
                                    <a [href]="progress['rp3'].reportFile.webContentLink" (click)="$event.stopPropagation();">
                                        <i class='bx bx-download text-blue-400 hover:text-blue-600 transition-all duration-300'></i>
                                    </a>
                                </a>
                            </div>
                        </div>

                        <!--Báo cáo tiến độ lần 4-->
                        <div class="px-6 py-3 bg-[#F5F5F5] font-semibold border-b border-gray-100">
                            Báo cáo tiến độ (lần 4)
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Quyển đồ án
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                <a *ngIf="progress && progress['rp4']?.wordFile"
                                   [href]="progress['rp4'].wordFile.webViewLink" target="_blank"
                                   class="px-2 w-fit max-w-full flex justify-between items-center gap-1 rounded-md bg-gray-200 text-gray-500">
                                    <span class="mr-2 max-w-[90%] truncate">{{ progress['rp4'].wordFile.name }}</span>
                                    <a [href]="progress['rp4'].wordFile.webContentLink" (click)="$event.stopPropagation();">
                                        <i class='bx bx-download text-blue-400 hover:text-blue-600 transition-all duration-300'></i>
                                    </a>
                                </a>
                            </div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Phiếu báo cáo
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                <a *ngIf="progress && progress['rp4']?.reportFile"
                                   [href]="progress['rp4'].reportFile.webViewLink" target="_blank"
                                   class="px-2 w-fit max-w-full flex justify-between items-center gap-1 rounded-md bg-gray-200 text-gray-500">
                                    <span class="mr-2 max-w-[90%] truncate">{{ progress['rp4'].reportFile.name }}</span>
                                    <a [href]="progress['rp4'].reportFile.webContentLink" (click)="$event.stopPropagation();">
                                        <i class='bx bx-download text-blue-400 hover:text-blue-600 transition-all duration-300'></i>
                                    </a>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--Nhận xét của GVHD-->
                    <div class="w-full lg:w-4/5 2xl:w-3/5 bg-white rounded-md shadow-md">
                        <div class="px-6 py-4 border-b border-gray-150">
                            <div class="font-bold text-lg text-[#262626] leading-none">Nhận xét của GVHD</div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Nội dung đã thực hiện
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                {{ (!!progress && progress['instr']) ? progress['instr'].comment1 : '' }}
                            </div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Chất lượng và mức độ hoàn thành so với yêu cầu
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                {{ (!!progress && progress['instr']) ? progress['instr'].comment2 : '' }}
                            </div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Tinh thần và thái độ làm việc
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                {{ (!!progress && progress['instr']) ? progress['instr'].comment3 : '' }}
                            </div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Điểm
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                {{ (!!progress && progress['instr']) ? progress['instr'].score : '' }}
                            </div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Kết luận
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626] font-semibold">
                                {{ (!!progress && progress['instr']) ? (progress['instr'].isApproval ? 'Cho bảo vệ' : 'Không cho bảo vệ' ) : '' }}
                            </div>
                        </div>
                    </div>

                    <!--Nhận xét của GVPB-->
                    <div class="w-full lg:w-4/5 2xl:w-3/5 bg-white rounded-md shadow-md">
                        <div class="px-6 py-4 border-b border-gray-150">
                            <div class="font-bold text-lg text-[#262626] leading-none">Nhận xét của GVPB</div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Ý nghĩa thực tiễn của đề tài, phạm vi và độ khó của đồ án
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                {{ (!!progress && progress['rvr']) ? progress['rvr'].comment1 : '' }}
                            </div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Nội dung và chất lượng đã đạt được
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                {{ (!!progress && progress['rvr']) ? progress['rvr'].comment2 : '' }}
                            </div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Ưu, nhược điểm của đồ án
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                {{ (!!progress && progress['rvr']) ? progress['rvr'].comment3 : '' }}
                            </div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Kết luận chung
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                {{ (!!progress && progress['rvr']) ? progress['rvr'].comment4 : '' }}
                            </div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Câu hỏi
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                {{ (!!progress && progress['rvr']) ? progress['rvr'].comment5 : '' }}
                            </div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Điểm
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                {{ (!!progress && progress['rvr']) ? progress['rvr'].score : '' }}
                            </div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Bảo vệ
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626] font-semibold">
                                {{ (!!progress && progress['rvr']) ? (progress['rvr'].isApproval ? 'Cho bảo vệ' : 'Không cho bảo vệ' ) : '' }}
                            </div>
                        </div>
                    </div>

                    <!--Đánh giá của hội đồng-->
                    <div class="w-full lg:w-4/5 2xl:w-3/5 bg-white rounded-md shadow-md">
                        <div class="px-6 py-4 border-b border-gray-150">
                            <div class="font-bold text-lg text-[#262626] leading-none">Đánh giá của hội đồng</div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Hình thức đồ án
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                {{ project.formScore }}
                            </div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Nội dung đồ án
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                {{ project.contentScore }}
                            </div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Trình bày tóm tắt nội dung đồ án
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                {{ project.summarizeScore }}
                            </div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Trả lời câu hỏi của người phản biện và thành viên hội đồng
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                {{ project.answerScore }}
                            </div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Điểm kết luận (Hệ số 10)
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626] font-semibold">
                                {{ project.conclusionScore }}
                            </div>
                        </div>
                    </div>

                    <div class="w-full lg:w-4/5 2xl:w-3/5 bg-white rounded-md shadow-md">
                        <div class="px-6 py-4 border-b border-gray-150">
                            <div class="font-bold text-lg text-[#262626] leading-none">Hoàn thiện đề tài</div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Quyển đồ án
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                <a *ngIf="progress && progress['cpt']?.wordFile"
                                   [href]="progress['cpt'].wordFile.webViewLink" target="_blank"
                                   class="px-2 w-fit max-w-full flex justify-between items-center gap-1 rounded-md bg-gray-200 text-gray-500">
                                    <span class="mr-2 max-w-[90%] truncate">{{ progress['cpt'].wordFile.name }}</span>
                                    <a [href]="progress['cpt'].wordFile.webContentLink" (click)="$event.stopPropagation();">
                                        <i class='bx bx-download text-blue-400 hover:text-blue-600 transition-all duration-300'></i>
                                    </a>
                                </a>
                            </div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1 border-b border-gray-100">
                            <div class="col-span-12 md:col-span-3 text-[#595959]">
                                Phiếu xác nhận chỉnh sửa
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                <a *ngIf="progress && progress['cpt']?.reportFile"
                                   [href]="progress['cpt'].reportFile.webViewLink" target="_blank"
                                   class="px-2 w-fit max-w-full flex justify-between items-center gap-1 rounded-md bg-gray-200 text-gray-500">
                                    <span class="mr-2 max-w-[90%] truncate">{{ progress['cpt'].reportFile.name }}</span>
                                    <a [href]="progress['cpt'].reportFile.webContentLink" (click)="$event.stopPropagation();">
                                        <i class='bx bx-download text-blue-400 hover:text-blue-600 transition-all duration-300'></i>
                                    </a>
                                </a>
                            </div>
                        </div>
                        <div class="px-6 py-3 grid grid-cols-12 gap-x-4 gap-y-1">
                            <div class="col-span-12 md:col-span-3 text-[#595959] flex items-center gap-0.5">
                                Khác <i class='cursor-pointer text-gray-400 bx bx-info-circle' nz-tooltip="File mềm của ĐATN, toàn bộ sản phẩm liên quan (chương trình, công cụ…)"></i>
                            </div>
                            <div class="col-span-12 md:col-span-9 text-[#262626]">
                                <a *ngIf="progress && progress['cpt']?.otherFile"
                                   [href]="progress['cpt'].otherFile.webViewLink" target="_blank"
                                   class="px-2 w-fit max-w-full flex justify-between items-center gap-1 rounded-md bg-gray-200 text-gray-500">
                                    <span class="mr-2 max-w-[90%] truncate">{{ progress['cpt'].otherFile.name }}</span>
                                    <a [href]="progress['cpt'].otherFile.webContentLink" (click)="$event.stopPropagation();">
                                        <i class='bx bx-download text-blue-400 hover:text-blue-600 transition-all duration-300'></i>
                                    </a>
                                </a>
                            </div>
                        </div>
                    </div>

                </ng-container>
            </div>
        </ng-container>
    </nz-spin>
</div>
