<div class="container mx-auto">
    <app-toolbar [pageTitle]="!id ? 'Trang cá nhân' : 'Thông tin người dùng'"
                 [breadcrumbs]="!id ? [
                    { title: 'Trang chủ' },
                    { title: 'Trang cá nhân' }
                 ] : [
                    { title: 'Trang chủ' },
                    { title: 'Danh sách người dùng', url: '/user-management' },
                    { title: (user$ | async)?.fullName || '' }
                 ]">
        <div class="flex justify-end items-center gap-2">
            <button class="flex items-center justify-center w-[100px]"
                    nzSize="large" nz-button nzType="default"
                    routerLink="/user-management">
                <i class='bx bx-chevron-left text-lg'></i>
                <span class="mr-1.5">Quay lại</span>
            </button>
        </div>
    </app-toolbar>
    <nz-spin [nzSpinning]="isLoading$ | async">
        <div class="flex flex-col xl:flex-row gap-y-4 gap-x-6">
            <div class="w-full xl:w-1/4">
                <div class="bg-white shadow border border-gray-150 rounded-md min-h-[400px]">
                    <ng-container *ngIf="(user$ | async) as user">
                        <div class="p-4 flex flex-col items-center justify-center border-b border-gray-150">
                            <div class="w-[100px] h-[100px] rounded-full">
                                <img class="w-full h-full object-cover rounded-full"
                                     [src]="user.avatar ? (user.avatar | driverUrl) : 'assets/images/avatars/default-avatar.jpg'" alt="">
                            </div>
                            <div class="mt-4 font-bold text-gray-600 text-base truncate">{{ user.fullName }}</div>
                        </div>
                        <div class="p-4 py-3">
                            <div class="flex items-center justify-between">
                                <div class="text-base font-bold">Thông tin</div>
                                <button nz-button nzSize="small" nzType="primary" (click)="onEdit()">Chỉnh sửa</button>
                            </div>
                            <div class="mt-2 flex flex-col gap-2">
                                <div>
                                    <div class="font-semibold text-gray-600">Số điện thoại</div>
                                    <div class="text-gray-400 truncate" [class.invisible]="!user.phone">
                                        {{ user.phone || 'Phone' }}
                                    </div>
                                </div>
                                <div>
                                    <div class="font-semibold text-gray-600">Ngày sinh</div>
                                    <div class="text-gray-400 truncate" [class.invisible]="!user.birthday">
                                        {{ user.birthday ? (user.birthday | date: 'dd/MM/yyyy') : 'Birthday' }}
                                    </div>
                                </div>
                                <div>
                                    <div class="font-semibold text-gray-600">Đơn vị</div>
                                    <div class="text-gray-400 truncate" [class.invisible]="!user.workPlace">
                                        {{ user.workPlace || 'WorkPlace' }}
                                    </div>
                                </div>
                                <div>
                                    <div class="font-semibold text-gray-600">Địa chỉ</div>
                                    <div class="text-gray-400 truncate" [class.invisible]="!user.address">
                                        {{ user.address || 'Address' }}
                                    </div>
                                </div>
                                <div>
                                    <div class="font-semibold text-gray-600">Đăng nhập lần cuối</div>
                                    <div class="text-gray-400 truncate" [class.invisible]="!user.lastLogin">
                                        {{ user.lastLogin ? (user.lastLogin | date: 'dd/MM/yyyy HH:mm') : 'Last Login' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="w-full xl:w-3/4">
                <div class="flex flex-col gap-4 lg:gap-6">
                    <app-user-security [isAdministrator]="isAdministrator$ | async"
                                       [user]="user$ | async"
                                       [isSelf]="isSelf$ | async"
                                       (openChange)="onOpenModal($event)"/>
                    <app-user-sessions [sessions]="sessions$ | async"
                                       [pagination]="sessionPagination$ | async"
                                       (pageChange)="onSessionPageChange($event)"
                                       (delete)="onDeleteSession($event)"/>
                    <app-user-events [events]="events$ | async"
                                     [pagination]="eventsPagination$ | async"
                                     (pageChange)="onEventPageChange($event)"/>
                </div>
            </div>
        </div>
    </nz-spin>
</div>

<app-user-form [isVisible]="isVisible$ | async"
               [isLoading]="isLoading$ | async"
               [user]="user$ | async"
               [departments]="departments$ | async"
               [isAdministrator]="isAdministrator$ | async"
               (ok)="onSave($event)"
               (cancel)="onCancel()"/>

<app-change-email [isVisible]="isVisibleEmail$ | async"
                  [isLoading]="isLoading$ | async"
                  (verify)="onVerifyNewEmail($event)"
                  (change)="onChangeEmail($event)"
                  (cancel)="onCancel('email')"/>

<app-change-password [isVisible]="isVisiblePass$ | async"
                     [isLoading]="isLoading$ | async"
                     (change)="onChangePass($event)"
                     (cancel)="onCancel('password')"/>

<app-change-two-factor [isVisible]="isVisible2FA$ | async"
                       [isLoading]="isLoading$ | async"
                       [isSelf]="isSelf$ | async"
                       [user]="user$ | async"
                       (change)="onChange2FA($event)"
                       (cancel)="onCancel('2fa')"/>
