<nz-modal [(nzVisible)]="isVisible"
          [nzCentered]="true"
          [nzWidth]="400"
          [nzTitle]="''"
          [nzFooter]="null"
          (nzOnCancel)="onCancel()">
    <ng-container *nzModalContent>
        <div class="my-2">
            <div class="text-center text-lg uppercase font-bold">
                Thay đổi mật khẩu
            </div>
            <div class="mt-2 mb-6">
                <app-form #form [validators]="validators">
                    <app-form-password control="oldPassword" label="Mật khẩu cũ"
                                       [validators]="{ required: true, noWhiteSpace: noWhitespaceValidator }"
                    ></app-form-password>
                    <app-form-password control="password" label="Mật khẩu mới"
                                       itemClass="mt-4"
                                       [validators]="{ required: true, noWhiteSpace: noWhitespaceValidator }"
                    ></app-form-password>
                    <app-form-password control="confirmPassword" label="Nhập lại mật khẩu mới"
                                       itemClass="mt-4"
                                       [validators]="{ required: true, noWhiteSpace: noWhitespaceValidator }"
                    ></app-form-password>
                </app-form>
            </div>
            <div class="grid grid-cols-2 gap-4 items-center justify-between">
                <button class="col-span-1" nzBlock nzSize="large" nz-button nzType="default" [disabled]="isLoading" (click)="onCancel()">
                    Trở về
                </button>
                <button class="col-span-1" nzBlock nzSize="large" nz-button nzType="primary" [disabled]="isLoading" [nzLoading]="isLoading" (click)="onSave()">
                    Xác nhận
                </button>
            </div>
        </div>
    </ng-container>
</nz-modal>
