<nz-modal [(nzVisible)]="isVisible"
          [nzTitle]="(department ? 'Chỉnh sửa' : 'Thêm mới') + ' khoa'"
          [nzCentered]="true"
          [nzWidth]="600"
          (nzOnCancel)="onClose()">
    <ng-container *nzModalContent>
        <nz-spin [nzSpinning]="isLoading">
            <app-form #form [data]="department">
                <div class="grid grid-cols-1 gap-4">
                    <app-form-text control="name" label="Tên khoa"
                                   [validators]="{ required: true }"/>
                    <app-form-text control="shortName" label="Tên rút gọn"
                                   [validators]="{ required: true }"/>
                    <app-form-textarea control="description" label="Mô tả"
                                       [autoSize]="{ minRows: 2 }"/>
                </div>
            </app-form>
        </nz-spin>
    </ng-container>
    <ng-container *nzModalFooter>
        <button class="w-[80px]" nzSize="large" nz-button nzType="default" (click)="onClose()" [disabled]="isLoading">
            Trở về
        </button>
        <button class="w-[80px]" nzSize="large" nz-button nzType="primary" [disabled]="isLoading" (click)="onSave()">
            Lưu
        </button>
    </ng-container>
</nz-modal>
