<nz-modal [(nzVisible)]="isVisible"
          [nzTitle]="(department ? 'Chỉnh sửa' : 'Thêm mới') + ' khoa'"
          [nzCentered]="true"
          [nzWidth]="600"
          (nzOnCancel)="onCancel()">
    <ng-container *nzModalContent>
        <nz-spin [nzSpinning]="isLoading">
            <app-form #form [data]="department">
                <div class="grid grid-cols-1 gap-4">
                    <app-form-text control="name" label="Tên khoa"
                                   [validators]="{ required: true }"/>
                    <app-form-text control="shortName" label="Tên rút gọn"
                                   [validators]="{ required: true }"/>
                    <app-form-textarea control="description" label="Mô tả"
                                       [autoSize]="{ minRows: 2 }"/>
                </div>
            </app-form>
        </nz-spin>
    </ng-container>
    <ng-container *nzModalFooter>
        <div class="flex items-center justify-between">
            <button class="flex items-center justify-center w-[100px]"
                    nzSize="large" nz-button nzType="default" (click)="onCancel()" [disabled]="isLoading">
                <i class='bx bx-chevron-left text-lg'></i>
                <span class="mr-1.5">Quay lại</span>
            </button>
            <button class="flex items-center justify-center gap-2"
                    nzSize="large" nz-button nzType="primary" [disabled]="isLoading" [nzLoading]="isLoading" (click)="onSave()">
                Lưu
                <i class='bx bx-save text-lg'></i>
            </button>
        </div>
    </ng-container>
</nz-modal>
