<nz-modal [(nzVisible)]="isVisible"
          [nzTitle]="(user ? 'Chỉnh sửa' : 'Thêm mới') + ' người dùng'"
          [nzCentered]="true"
          [nzWidth]="600"
          [nzBodyStyle]="{ padding: '0' }"
          (nzOnCancel)="onClose()">
    <ng-container *nzModalContent>
        <div class="w-full max-h-[400px] sm:max-h-[500px] scrollable px-4 sm:px-6 py-3 sm:py-4">
            <nz-spin [nzSpinning]="isLoading">
                <app-form #form [data]="user">
                    <div class="flex flex-col sm:flex-row gap-2 items-center">
                        <div class="mx-3 w-[100px] h-[100px] rounded-md relative bg-white shadow p-1 border border-gray-100">
                            <img class="w-full h-full object-cover rounded-md" [src]="avatar?.base64 ? avatar?.base64 : ((!!avatar?.id && (avatar?.id | driverUrl)) || defaultAvatarUrl)" alt="">
                            <div (click)="file.click()" class=" absolute cursor-pointer shadow w-[20px] h-[20px] flex items-center justify-center bottom-0 left-0 -translate-x-1/2 translate-y-1/2 bg-blue-500 text-white rounded-full">
                                <i class='bx bx-camera'></i>
                            </div>
                            <div *ngIf="user?.avatar" (click)="onRemoveAvatar()" class="absolute cursor-pointer shadow w-[20px] h-[20px] flex items-center justify-center bottom-0 right-0 translate-x-1/2 translate-y-1/2 border border-gray-200 bg-white text-gray-500 rounded-full">
                                <i class='bx bx-x' ></i>
                            </div>
                            <input class="hidden" #file type="file" [accept]="acceptFiles.join(',')" (change)="onFileChange($event)">
                        </div>
                        <div class="w-full sm:w-[unset] flex-1 flex flex-col gap-4">
                            <app-form-text control="fullName" label="Họ và tên"
                                           [validators]="{ required: true }"/>
                            <app-form-date control="birthday" label="Ngày sinh"
                                           [allowClear]="false"/>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
                        <app-form-select control="role" label="Vai trò"
                                         [options]="roles"
                                         [disabled]="isSelf"
                                         [validators]="{ required: true }"/>
                        <app-form-select control="gender" label="Giới tính"
                                         [options]="genders"
                                         [validators]="{ required: true }"/>
                        <app-form-text control="email" label="Email"
                                       [disabled]="isSelf"
                                       [validators]="{ required: true, email: true }"/>
                        <app-form-text control="phone" label="Số điện thoại"/>
                        <app-form-textarea control="workPlace" label="Đơn vị công tác"
                                           [autoSize]="{ minRows: 3, maxRows: 3 }"/>
                        <app-form-textarea control="address" label="Địa chỉ"
                                           [autoSize]="{ minRows: 3, maxRows: 3 }"/>
                    </div>
                </app-form>
            </nz-spin>
        </div>
    </ng-container>
    <ng-container *nzModalFooter>
        <button class="w-[80px]" nzSize="large" nz-button nzType="default" [disabled]="isLoading" (click)="onClose()">
            Trở về
        </button>
        <button class="w-[80px]" nzSize="large" nz-button nzType="primary" [disabled]="isLoading" (click)="onSave()">
            Lưu
        </button>
    </ng-container>
</nz-modal>
