<nz-modal [(nzVisible)]="isVisible"
          [nzCentered]="true"
          [nzFooter]="null"
          [nzWidth]="500"
          (nzOnCancel)="onClose()">
    <ng-container *nzModalContent>
        <div class="flex items-center gap-1">
            <div class="text-base font-bold">
                Nhập đồ án từ file dữ liệu
            </div>
            <div class="">
                (Tải về file mẫu: <a class="text-blue-500" (click)="onDownloadSample()">Excel file</a>)
            </div>
        </div>
        <app-form #form>
            <div class="mt-4">
                <div class="font-bold">
                    Xử lý <span class="italic">trùng</span> tên đề tài, khác thông tin?
                </div>
                <div class="mt-1">
                    <app-form-radio control="duplicateName" [initialValue]="0" noFormWrapper>
                        <ng-template [radio]="0" className="block">
                            Báo lỗi và dừng import
                        </ng-template>
                        <ng-template [radio]="1" className="block">
                            Thay thế bằng thông tin mới
                        </ng-template>
                        <ng-template [radio]="2" className="block">
                            Gộp thông tin
                        </ng-template>
                    </app-form-radio>
                </div>
            </div>
            <div class="mt-4 border-t border-gray-150 pt-4">
                <div class="font-bold">
                    Xử lý <span class="italic">sinh viên</span> không tồn tại?
                </div>
                <div class="mt-1">
                    <app-form-radio control="studentNotExist" [initialValue]="0" noFormWrapper>
                        <ng-template [radio]="0" className="block">
                            Báo lỗi và dừng import
                        </ng-template>
                        <ng-template [radio]="1" className="block">
                            Thêm mới sinh viên
                        </ng-template>
                    </app-form-radio>
                </div>
            </div>
            <div class="mt-4 border-t border-gray-150 pt-4">
                <div class="font-bold">
                    Xử lý <span class="italic">người hướng dẫn</span> không tồn tại?
                </div>
                <div class="mt-1">
                    <app-form-radio control="instrNotExist" [initialValue]="0" noFormWrapper>
                        <ng-template [radio]="0" className="block">
                            Báo lỗi và dừng import
                        </ng-template>
                        <ng-template [radio]="1" className="block">
                            Thêm mới người hướng dẫn
                        </ng-template>
                    </app-form-radio>
                </div>
            </div>
        </app-form>
        <div class="mt-6">
            <nz-upload
                    class="w-full h-[180px]"
                    nzType="drag"
                    [nzMultiple]="false"
                    [nzFileList]="files"
                    [nzShowUploadList]="{ showRemoveIcon: true, showDownloadIcon: false }"
                    [nzAccept]="['.xlsx', '.xls']"
                    [nzCustomRequest]="customRequest"
                    [nzRemove]="customRemove"
                    (nzChange)="onFileChanges($event)">
                <p>
                    <i class='bx bx-archive-out text-5xl'></i>
                </p>
                <p class="ant-upload-text">Chọn hoặc kéo thả tệp để tải lên</p>
                <p class="ant-upload-hint">
                    Kích thước tệp tối đa 5MB!
                </p>
            </nz-upload>
        </div>
        <div class="mt-6 flex justify-between gap-2">
            <button nz-button nzSize="large" nzType="default" (click)="onClose()">Quay lại</button>
            <button nz-button nzSize="large" nzType="primary" [disabled]="isLoading" [nzLoading]="isLoading" (click)="onPreImport()">Nhập danh sách</button>
        </div>
    </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleModal"
          [nzCentered]="true"
          [nzFooter]="null"
          [nzMaskClosable]="false"
          [nzWidth]="400"
          (nzOnCancel)="isVisibleModal = false">
    <ng-container *nzModalContent>
        <app-form #importForm>
            <app-form-select control="departmentId" label="Khoa"
                             selectValue="id" selectLabel="name"
                             [options]="departments || []"
                             [validators]="{ required: true }"/>
            <app-form-select control="semesterId" label="Học kì"
                             selectValue="id" selectLabel="name"
                             [validators]="{ required: true }"
                             [options]="semesters || []"/>
            <div class="flex items-center gap-4 mt-4">
                <button class="w-1/2" nz-button nzSize="large" nzType="default" (click)="isVisibleModal = false">Quay lại</button>
                <button class="w-1/2" nz-button nzSize="large" nzType="primary" (click)="onImport()">Tiếp tục</button>
            </div>
        </app-form>
    </ng-container>
</nz-modal>
