<nz-modal [(nzVisible)]="isVisible"
          [nzTitle]="(semester ? 'Chỉnh sửa' : 'Thêm mới') + ' học kỳ'"
          [nzCentered]="true"
          [nzWidth]="500"
          (nzOnCancel)="onCancel()">
    <ng-container *nzModalContent>
        <nz-spin [nzSpinning]="isLoading">
            <app-form #form [data]="semester">
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <app-form-text control="name" label="Tên học kỳ"
                                   class="sm:col-span-2"
                                   [validators]="{ required: true }"/>
                    <app-form-date control="start" label="Ngày bắt đầu"
                                   [validators]="{ required: true }"/>
                    <app-form-date control="end" label="Ngày kết thúc"
                                   [validators]="{ required: true }"/>
                </div>
            </app-form>
        </nz-spin>
    </ng-container>
    <ng-container *nzModalFooter>
        <div class="flex items-center justify-between">
            <button class="flex items-center justify-center w-[100px]"
                    nzSize="large" nz-button nzType="default" (click)="onCancel()" [disabled]="isLoading">
                <i class='bx bx-chevron-left text-lg'></i>
                <span class="mr-1.5">Quay lại</span>
            </button>
            <button class="flex items-center justify-center gap-2"
                    nzSize="large" nz-button nzType="primary" [disabled]="isLoading" [nzLoading]="isLoading" (click)="onSave()">
                Lưu
                <i class='bx bx-save text-lg'></i>
            </button>
        </div>
    </ng-container>
</nz-modal>
