<div class="container mx-auto">
    <app-toolbar [pageTitle]="title"
                 [breadcrumbs]="[
                    { title: 'Trang chủ' },
                    { title: 'Danh sách GV Phản biện', url: '/' + urlReviewerStaff },
                    { title: title },
                 ]">
        <div class="flex justify-end items-center gap-2">
            <button class="flex items-center justify-center w-[100px]"
                    nzSize="large" nz-button nzType="default"
                    [routerLink]="['/' + urlReviewerStaff]"
                    [disabled]="isLoading$ | async">
                <i class='bx bx-chevron-left text-lg'></i>
                <span class="mr-1.5">Quay lại</span>
            </button>
            <button class="flex items-center justify-center gap-2"
                    nzSize="large" nz-button nzType="primary"
                    [disabled]="!groups.length || (isLoading$ | async)"
                    (click)="onSave()">
                Lưu
                <i class='bx bx-save text-lg'></i>
            </button>
        </div>
    </app-toolbar>
    <nz-spin [nzSpinning]="isLoading$ | async">
        <div class="flex flex-col xl:flex-row gap-y-4 gap-x-6">
            <div class="w-full xl:w-1/4">
                <div class="bg-white border border-gray-150 shadow rounded-md overflow-hidden">
                    <div class="px-6 py-4 border-b border-gray-150">
                        <div class="font-bold text-lg text-[$262626] leading-none">
                            Thông tin chung
                        </div>
                    </div>
                    <div class="px-6 lg:px-8 pt-3 pb-4">
                        <app-form #form>
                            <div class="flex flex-col gap-4">
                                <app-form-select control="departmentId" label="Khoa"
                                                 selectValue="id" selectLabel="name"
                                                 [options]="departments$ | async"
                                                 [allowClear]="false"
                                                 [validators]="{ required: true }"/>
                                <app-form-select control="semesterId" label="Học kì"
                                                 selectValue="id" selectLabel="name"
                                                 selectDisabled="isLocked"
                                                 [options]="semesters$ | async"
                                                 [allowClear]="false"
                                                 [validators]="{ required: true }"/>
                            </div>
                        </app-form>
                        <button class="mt-6" nzSize="large"
                                nzBlock nz-button nzType="primary"
                                [disabled]="!!form && (!form.form.valid || form?.isPristine)"
                                (click)="!!form && onLoadingProjects(form.form)">
                            Kiểm tra danh sách đề tài
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-full xl:w-3/4 flex flex-col gap-4 lg:gap-6">
                <div class="bg-white border border-gray-150 shadow rounded-md overflow-hidden"
                     *ngFor="let group of groups; let index = index;">
                    <div class="flex flex-col md:flex-row md:justify-between md:items-center gap-2 py-2 lg:py-3 px-6 lg:px-8">
                        <div class="flex gap-2 items-center">
                            <div class="text-lg font-semibold text-gray-600 border-r border-gray-150 pr-2">
                                Nhóm {{ index < 10 ? '0' + (index + 1) : (index + 1) }}
                            </div>
                            <span *ngIf="!group.user" class="italic text-gray-400">(Chưa chọn GV phản biện)</span>
                            <nz-avatar *ngIf="group.user"
                                       nz-tooltip [nzTooltipTitle]="tooltopTemplate"
                                       [nzText]="(group.user.fullName || '').charAt(0)"
                                       [nzSrc]="group.user.avatar | driverUrl">
                                <ng-template #tooltopTemplate>
                                    <div class="text-center">
                                        <div>{{ group.user.fullName }}</div>
                                        <div>{{ group.user.email }}</div>
                                    </div>
                                </ng-template>
                            </nz-avatar>
                        </div>
                        <div class="w-full md:w-fit flex gap-2 flex-wrap justify-end items-center">
                            <button class="flex items-center justify-center gap-1"
                                    nz-button nzType="primary" nzSize="default" (click)="onSearchUser(index)">
                                <i class='bx bx-plus text-base'></i>
                                Chọn GV phản biện
                            </button>
                            <button class="flex items-center justify-center gap-1"
                                    nzSize="default" nz-button nzType="primary" (click)="onSearchProject(index)">
                                <i class='bx bx-plus text-base'></i>
                                Chọn đề tài
                            </button>
                            <button *ngIf="index > 0" (click)="onRemoveGroup(index)" class="flex items-center justify-center gap-2" nz-button nzType="primary" nzDanger nzSize="default">
                                <i class='bx bxs-trash-alt'></i>
                                Xoá
                            </button>
                        </div>
                    </div>
                    <div class="border-t border-gray-150">
                        <app-table [data]="group.projects" [scroll]="{ x: '1000px' }" size="small">
                            <app-table-column key="name" title="Tên đề tài" width="250px"/>
                            <app-table-column key="students" title="Sinh viên thực hiện" width="250px">
                                <ng-template table-cell let-row>
                                    <div *ngFor="let student of row.students">
                                        {{ student.code }} - {{ student.fullName }}
                                    </div>
                                </ng-template>
                            </app-table-column>
                            <app-table-column key="instructor.fullName" title="GV hướng dẫn" width="200px"/>
                            <app-table-column key="action" title="" align="center" width="50px" [right]="true">
                                <ng-template table-cell let-row>
                                    <i (click)="onRemoveProject(index, row.id!)" class='text-red-600 cursor-pointer bx bxs-trash-alt'></i>
                                </ng-template>
                            </app-table-column>
                        </app-table>
                    </div>
                </div>

                <div class="flex justify-end" *ngIf="groups.length">
                    <button class="flex justify-center items-center gap-2"
                            (click)="onAddGroup()" nzSize="large" nz-button nzType="primary">
                        <i class='bx bx-plus text-lg'></i>
                        Thêm nhóm
                    </button>
                </div>
            </div>
        </div>
    </nz-spin>

</div>

<ng-template #confirmContent let-params let-ref="modalRef">
    <div class="flex flex-col gap-4 my-2">
        <div class="rounded-md px-4 py-2 border border-blue-300 bg-blue-200">
            Có tất cả {{ (projects$ | async)?.length }} đề tài đủ điều kiện phản biện.
        </div>
        <nz-form-item>
            <nz-form-label [nzSpan]="24" nzFor="permission">Hình thức tổ chức</nz-form-label>
            <nz-form-control [nzSpan]="24">
                <nz-radio-group class="grid grid-cols-2 gap-4" [(ngModel)]="params.type">
                    <label class="col-span-1 mr-0 radio-block" [nzValue]="0" nz-radio>Ngẫu nhiên</label>
                    <label class="col-span-1 mr-0 radio-block" [nzValue]="1" nz-radio>Thủ công</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="!params.type">
            <nz-form-label [nzSpan]="24" nzFor="permission">Số đề tài mỗi nhóm</nz-form-label>
            <nz-form-control [nzSpan]="24">
                <nz-input-number class="w-full" [(ngModel)]="params.projectPerGroup" nzSize="large" [nzMin]="1"></nz-input-number>
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="grid grid-cols-2 gap-4 mt-4">
        <button nz-button nzType="default" nzSize="large" (click)="ref.destroy()">
            Quay lại
        </button>
        <button nz-button nzType="primary" nzSize="large" (click)="ref.destroy(params)">
            Xác nhận
        </button>
    </div>
</ng-template>

<app-search-user [(isVisible)]="isVisibleSearchUser"
                 [isMultiple]="false"
                 (select)="onSelectUser($event)"
></app-search-user>

<app-search-project [(isVisible)]="isVisibleSearchProject"
                    [isMultiple]="true"
                    [projects]="projects$ | async"
                    [hiddenIds]="hiddenIds"
                    (select)="onSelectProject($event)"
></app-search-project>
