<div class="container mx-auto">
    <app-toolbar [pageTitle]="title"
                 [breadcrumbs]="[
                    { title: 'Trang chủ' },
                    { title: title }
                 ]">
        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-end gap-x-4 gap-y-2">
            <button nzSize="large" nz-button nz-dropdown [nzDropdownMenu]="menu1" class="w-full sm:w-1/2 md:w-fit flex items-center justify-center gap-1">
                {{ department ? department.name : 'Tất cả khoa' }}
                <i class='bx bx-chevron-down'></i>
            </button>
            <nz-dropdown-menu #menu1="nzDropdownMenu">
                <ul nz-menu *ngLet="department$ | async as departments">
                    <li nz-menu-item (click)="onSelectDepartment()">
                        Tất cả khoa
                    </li>
                    <li nz-menu-item *ngFor="let department of departments" (click)="onSelectDepartment(department)">
                        {{ department.name }}
                    </li>
                </ul>
            </nz-dropdown-menu>

            <button nzSize="large" nz-button nz-dropdown [nzDropdownMenu]="menu2" class="w-full sm:w-1/2 md:w-fit flex items-center justify-center gap-1">
                {{ semester ? semester.name : 'Tất cả học kỳ' }}
                <i class='bx bx-chevron-down'></i>
            </button>
            <nz-dropdown-menu #menu2="nzDropdownMenu">
                <ul nz-menu *ngLet="semesters$ | async as semesters">
                    <li nz-menu-item (click)="onSelectSemester()">
                        Tất cả học kỳ
                    </li>
                    <li nz-menu-item *ngFor="let semester of semesters" (click)="onSelectSemester(semester)">
                        {{ semester.name }}
                    </li>
                </ul>
            </nz-dropdown-menu>
        </div>
    </app-toolbar>

    <nz-spin [nzSpinning]="isLoading$ | async">
        <div class="grid grid-cols-1 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-5 gap-4 md:gap-6">
            <div class="col-span-1 lg:col-span-2 xl:col-span-3 2xl:col-span-2 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2 gap-4 md:gap-6">
                <div class="bg-white shadow border border-gray-150 rounded-md px-6 py-4">
                    <div class="flex justify-between">
                        <div class="text-lg font-bold">Tổng số đề tài</div>
                        <div class="w-[40px] h-[40px] rounded-full flex items-center justify-center bg-[#D3E2F7] text-base text-[#3b7ddd]">
                            <i class='bx bx-food-menu'></i>
                        </div>
                    </div>
                    <div class="mt-1 text-3xl font-semibold">
                        {{ (projectStatistic?.total || 0) | number: '1.0' }}
                    </div>
                </div>
                <div class="bg-white shadow border border-gray-150 rounded-md px-6 py-4">
                    <div class="flex justify-between">
                        <div class="text-lg font-bold">Tổng số từ chối</div>
                        <div class="w-[40px] h-[40px] rounded-full flex items-center justify-center bg-[#D3E2F7] text-base text-[#3b7ddd]">
                            <i class='bx bx-task-x'></i>
                        </div>
                    </div>
                    <div class="mt-1 text-3xl font-semibold">
                        {{ (projectStatistic?.totalRefuse || 0) | number: '1.0' }}
                    </div>
                </div>
                <div class="bg-white shadow border border-gray-150 rounded-md px-6 py-4">
                    <div class="flex justify-between">
                        <div class="text-lg font-bold">Tỷ lệ hoàn thành</div>
                        <div class="w-[40px] h-[40px] rounded-full flex items-center justify-center bg-[#D3E2F7] text-base text-[#3b7ddd]">
                            <i class='bx bx-pie-chart-alt-2'></i>
                        </div>
                    </div>
                    <div class="mt-1 text-3xl font-semibold">
                        {{ projectStatistic | completedRatio }}
                    </div>
                </div>
                <div class="bg-white shadow border border-gray-150 rounded-md px-6 py-4">
                    <div class="flex justify-between">
                        <div class="text-lg font-bold">Điểm trung bình</div>
                        <div class="w-[40px] h-[40px] rounded-full flex items-center justify-center bg-[#D3E2F7] text-base text-[#3b7ddd]">
                            <i class='bx bx-code-curly'></i>
                        </div>
                    </div>
                    <div class="mt-1 text-3xl font-semibold">
                        {{ (projectStatistic?.averageScore || 0) | number: '1.0-1' }}
                    </div>
                </div>
            </div>
            <div class="col-span-1 lg:col-span-3 xl:col-span-3 bg-white shadow border border-gray-150 rounded-md overflow-hidden">
                <div class="px-6 py-4 border-b border-gray-150">
                    <div class="font-bold text-lg text-[#262626] leading-none">Phổ điểm</div>
                </div>
                <div class="">
                    <div id="scoreDistributionChart" class="h-[300px] w-full"></div>
                </div>
            </div>
        </div>

        <div class="mt-4 md:mt-6 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4 md:gap-6">
            <div class="col-span-1 bg-white shadow border border-gray-150 rounded-md overflow-hidden">
                <div class="px-6 py-4 border-b border-gray-150">
                    <div class="font-bold text-lg text-[#262626] leading-none">Thang điểm GV hướng dẫn</div>
                </div>
                <div class="">
                    <div id="instructorPointGrateChart" class="h-[300px] w-full"></div>
                </div>
            </div>
            <div class="col-span-1 bg-white shadow border border-gray-150 rounded-md overflow-hidden">
                <div class="px-6 py-4 border-b border-gray-150">
                    <div class="font-bold text-lg text-[#262626] leading-none">Thang điểm chấm phản biện</div>
                </div>
                <div class="">
                    <div id="reviewerPointGrateChart" class="h-[300px] w-full"></div>
                </div>
            </div>
            <div class="col-span-1 bg-white shadow border border-gray-150 rounded-md overflow-hidden">
                <div class="px-6 py-4 border-b border-gray-150">
                    <div class="font-bold text-lg text-[#262626] leading-none">Thang điểm bảo vệ</div>
                </div>
                <div class="">
                    <div id="presentationPointGrateChart" class="h-[300px] w-full"></div>
                </div>
            </div>
        </div>

    </nz-spin>

</div>
