<div class="flex flex-col md:flex-row md:items-center justify-between gap-2 mb-4 lg:mb-6">
    <div class="flex-1">
        <div class="text-base text-dark dark:text-white font-bold truncate">{{ pageTitle }}</div>
        <div class="hidden md:flex flex-wrap gap-1 items-center text-sm text-gray-400">
            <ng-container *ngFor="let item of breadcrumbs; let first = first">
                <span *ngIf="!first">-</span>
                <ng-container *ngIf="item.url; else noRouterTmpl">
                    <a class="text-gray-400" [routerLink]="item.url" [queryParams]="item.queryParams">
                        {{ item.title }}
                    </a>
                </ng-container>
                <ng-template #noRouterTmpl>
                    <span class="max-w-[200px] 2xl:max-w-[300px] truncate">{{ item.title }}</span>
                </ng-template>
            </ng-container>
        </div>
    </div>
    <ng-content></ng-content>
</div>
