<div class="container mx-auto">
    <app-toolbar [pageTitle]="title"
                 [breadcrumbs]="[
                    { title: 'Trang chủ' },
                    { title: title }
                 ]">
        <div class="flex items-center gap-2">
            <button nzSize="large" nz-button nzType="primary" (click)="onAdd()">
                Thêm mới
            </button>
        </div>
    </app-toolbar>
    <div class="bg-white shadow border border-gray-150 rounded-md">
        <div class="flex justify-between items-center p-4 border-b border-gray-200">
            <app-form #filterForm
                      [data]="queryParams$ | async"
                      [hidden]="{ page: 1, limit: 10 }">
                <div class="grid grid-cols-12 gap-4">
                    <app-form-select class="col-span-2" control="departmentId" placeholder="Khoa"
                                     selectValue="id" selectLabel="name"
                                     [showLabel]="false" [options]="departments$ | async"
                    ></app-form-select>
                    <app-form-text class="col-span-2" control="q" placeholder="Nhập để tìm kiếm" [showLabel]="false"/>
                    <button nzSize="large" nz-button nzType="primary" (click)="onSearch()">
                        Tìm kiếm
                    </button>
                </div>
            </app-form>
        </div>
        <app-table [showCheckbox]="false"
                   [data]="progresses$ | async"
                   [pagination]="pagination$ | async"
                   [isLoading]="isLoading$ | async"
                   [scroll]="{ x: '3000px' }"
                   (pageChanges)="onPageChanges($event)">
            <app-table-column key="department.name" title="Khoa" width="100px"/>
            <app-table-column key="semester.name" title="Học kì" width="150px"/>
            <app-table-column key="propose" title="Đề xuất đề tài" align="center" width="150px">
                <ng-template table-cell let-row>
                    {{ row.proposeStart | date: 'dd/MM/yyyy' }} - {{ row.proposeEnd | date: 'dd/MM/yyyy' }}
                </ng-template>
            </app-table-column>
            <app-table-column key="report" title="Nộp đề cương" align="center" width="150px">
                <ng-template table-cell let-row>
                    {{ row.reportStart | date: 'dd/MM/yyyy' }} - {{ row.reportEnd | date: 'dd/MM/yyyy' }}
                </ng-template>
            </app-table-column>
            <app-table-column key="report1" title="Báo cáo tiến độ (lần 1)" align="center" width="150px">
                <ng-template table-cell let-row>
                    {{ row.report1Start | date: 'dd/MM/yyyy' }} - {{ row.report1End | date: 'dd/MM/yyyy' }}
                </ng-template>
            </app-table-column>
            <app-table-column key="report3" title="Báo cáo tiến độ (lần 3)" align="center" width="150px">
                <ng-template table-cell let-row>
                    {{ row.report3Start | date: 'dd/MM/yyyy' }} - {{ row.report3End | date: 'dd/MM/yyyy' }}
                </ng-template>
            </app-table-column>
            <app-table-column key="report4" title="Báo cáo tiến độ (lần 4)" align="center" width="150px">
                <ng-template table-cell let-row>
                    {{ row.report4Start | date: 'dd/MM/yyyy' }} - {{ row.report4End | date: 'dd/MM/yyyy' }}
                </ng-template>
            </app-table-column>
            <app-table-column key="instrCmt" title="GVHD chấm điểm" align="center" width="150px">
                <ng-template table-cell let-row>
                    {{ row.instrCmtStart | date: 'dd/MM/yyyy' }} - {{ row.instrCmtEnd | date: 'dd/MM/yyyy' }}
                </ng-template>
            </app-table-column>
            <app-table-column key="rvrCmt" title="GBPB chấm điểm" align="center" width="150px">
                <ng-template table-cell let-row>
                    {{ row.rvrCmtStart | date: 'dd/MM/yyyy' }} - {{ row.rvrCmtEnd | date: 'dd/MM/yyyy' }}
                </ng-template>
            </app-table-column>
            <app-table-column key="present" title="Bảo vệ tốt nghiệp" align="center" width="150px">
                <ng-template table-cell let-row>
                    {{ row.presentStart | date: 'dd/MM/yyyy' }} - {{ row.presentEnd | date: 'dd/MM/yyyy' }}
                </ng-template>
            </app-table-column>
            <app-table-column key="completed" title="Hoàn thiện đồ án" align="center" width="150px">
                <ng-template table-cell let-row>
                    {{ row.completedStart | date: 'dd/MM/yyyy' }} - {{ row.completedEnd | date: 'dd/MM/yyyy' }}
                </ng-template>
            </app-table-column>
            <app-table-column key="action" title="" width="60px" [right]="true">
                <ng-template table-cell let-row>
                    <div class="flex justify-center items-center gap-1">
                        <div (click)="onEdit(row.id!)" class="action-on-hover opacity-0 w-[36px] h-[36px] cursor-pointer text-xl rounded-full text-[#1f1f1f] hover:bg-gray-300 transition-all duration-300 flex items-center justify-center">
                            <i class='bx bx-edit-alt' ></i>
                        </div>
                        <div (click)="onDelete(row.id!)" class="action-on-hover opacity-0 w-[36px] h-[36px] cursor-pointer text-xl rounded-full text-red-500 hover:bg-gray-300 transition-all duration-300 flex items-center justify-center">
                            <i class='bx bx-trash-alt' ></i>
                        </div>
                    </div>
                </ng-template>
            </app-table-column>
        </app-table>
    </div>
</div>

<app-progress-form [isVisible]="isVisible$ | async"
                   [progress]="progress$ | async"
                   [isLoading]="isLoading$ | async"
                   [semesters]="semesters$ | async"
                   [departments]="departments$ | async"
                   (ok)="onSave($event)"
                   (cancel)="onClose()"
></app-progress-form>
