<nz-modal [(nzVisible)]="isVisible"
          [nzTitle]="(student ? 'Chỉnh sửa' : 'Thêm mới') + ' sinh viên'"
          [nzCentered]="true"
          [nzWidth]="600"
          (nzOnCancel)="onCancel()">
    <ng-container *nzModalContent>
        <nz-spin [nzSpinning]="isLoading">
            <app-form #form [data]="student">
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <app-form-text control="fullName" label="Họ và tên"
                                   class="sm:col-span-2"
                                   [validators]="{ required: true }"/>
                    <app-form-date control="birthday" label="Ngày sinh"
                                   [allowClear]="false"/>
                    <app-form-text control="code" label="Mã sinh viên"
                                   [validators]="{ required: true }"/>
                    <app-form-select control="gender" label="Giới tính"
                                     [options]="genders" [initialValue]="0"/>
                    <app-form-select control="departmentId" label="Khoa"
                                     selectValue="id" selectLabel="name"
                                     [options]="departments || []"
                                     [validators]="{ required: true }"/>
                    <app-form-text control="phone" label="Số điện thoại"/>
                    <app-form-text control="email" label="Email" [validators]="{ email: true }"/>
                </div>
            </app-form>
        </nz-spin>
    </ng-container>
    <ng-container *nzModalFooter>
        <div class="flex items-center justify-between">
            <button class="flex items-center justify-center w-[100px]"
                    nzSize="large" nz-button nzType="default" (click)="onCancel()" [disabled]="isLoading">
                <i class='bx bx-chevron-left text-lg'></i>
                <span class="mr-1.5">Quay lại</span>
            </button>
            <button class="flex items-center justify-center gap-2"
                    nzSize="large" nz-button nzType="primary" [disabled]="isLoading" [nzLoading]="isLoading" (click)="onSave()">
                Lưu
                <i class='bx bx-save text-lg'></i>
            </button>
        </div>
    </ng-container>
</nz-modal>
