<nz-modal [(nzVisible)]="isVisible"
          [nzTitle]="(isPropose ? 'Đề xuất' : (project ? 'Chỉnh sửa' : 'Thêm mới')) + ' đồ án'"
          [nzCentered]="true"
          [nzWidth]="600"
          (nzOnCancel)="onClose()">
    <ng-container *nzModalContent>
        <nz-spin [nzSpinning]="isLoading">
            <app-form #form [data]="project">
                <div class="grid grid-cols-2 gap-4">
                    <app-form-text control="name" label="Tên đồ án"
                                   class="col-span-2"
                                   [validators]="{ required: true }"/>
                    <app-form-select control="departmentId" label="Khoa"
                                     selectValue="id" selectLabel="name"
                                     [class.col-span-2]="isPropose"
                                     [options]="departments || []"
                                     [validators]="{ required: true }"/>
                    <app-form-select *ngIf="!isPropose"
                                     control="semesterId" label="Học kì"
                                     selectValue="id" selectLabel="name"
                                     [clearOnDestroy]="true"
                                     [validators]="{ required: true }"
                                     [options]="semesters || []"/>
                    <app-form-text control="instructorName" label="Người hướng dẫn"
                                   [validators]="{ required: true }"
                                   [readonly]="true" [allowClear]="true"
                                   (valueChange)="onInstructorChange($event)"
                                   (click)="onSearchUser()"/>
                    <app-form-text control="studentCodes" label="Sinh viên thực hiện"
                                   [readonly]="true" [allowClear]="true"
                                   (click)="onSearchStudent()"/>
                    <app-form-textarea class="col-span-2"
                                       control="description" label="Mô tả"
                                       [autoSize]="{ minRows: 2, maxRows: 4 }"/>
                    <app-form-textarea class="col-span-2"
                                       control="requirement" label="Yêu cầu"
                                       [autoSize]="{ minRows: 2, maxRows: 4 }"/>
                </div>
            </app-form>
        </nz-spin>
    </ng-container>
    <ng-container *nzModalFooter>
        <button class="w-[80px]" nzSize="large" nz-button nzType="default" [disabled]="isLoading" (click)="onClose()">
            Trở về
        </button>
        <button class="w-[80px]" nzSize="large" nz-button nzType="primary" [disabled]="isLoading" (click)="onSave()">
            Lưu
        </button>
    </ng-container>
</nz-modal>

<app-search-user [(isVisible)]="isVisibleSearchUser"
                 [isMultiple]="false"
                 (select)="onSelectUser($event)"/>

<app-search-student [(isVisible)]="isVisibleSearchStudent"
                    [isMultiple]="true"
                    (select)="onSelectStudent($event)"/>
