<div class="container mx-auto">
    <app-toolbar [pageTitle]="title"
                 [breadcrumbs]="[
                    { title: 'Trang chủ' },
                    { title: title }
                 ]">
        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-end gap-x-4 gap-y-2">
            <button class="w-full sm:w-1/2 md:w-fit flex items-center justify-center gap-2"
                    nzSize="large" nz-button nzType="dashed" (click)="onImport()">
                <i class='bx bx-cloud-download text-lg' ></i>
                Nhận dữ liệu từ file Excel
            </button>
            <button class="w-full sm:w-1/2 md:w-fit" nzSize="large" nz-button nzType="primary" (click)="onAdd()">
                Thêm mới
            </button>
        </div>
    </app-toolbar>
    <div class="bg-white shadow border border-gray-150 rounded-md">
        <div class="flex justify-between items-center p-4 border-b border-gray-200">
            <app-form #filterForm
                      class="w-full"
                      [debounceTime]="300"
                      [data]="queryParams$ | async"
                      [hidden]="{ page: 1, limit: 10 }"
                      (valueChanges)="onSearch($event)">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-8 xl:grid-cols-10 2xl:grid-cols-12 gap-4">
                    <app-form-select class="col-span-1 lg:col-span-2"
                                     noFormWrapper allowClear
                                     control="departmentId" placeholder="Khoa"
                                     selectValue="id" selectLabel="name"
                                     [options]="departments$ | async"
                    ></app-form-select>
                    <app-form-text class="col-span-1 lg:col-span-2" control="q" placeholder="Nhập để tìm kiếm"
                                   noFormWrapper allowClear />
                </div>
            </app-form>
        </div>
        <app-table [showCheckbox]="false"
                   [data]="students$ | async"
                   [isLoading]="isLoading$ | async"
                   [pagination]="pagination$ | async"
                   [scroll]="{ x: '1024px' }"
                   (pageChanges)="onPageChanges($event)">
            <app-table-column key="fullName" title="Họ và tên" width="150px">
            </app-table-column>
            <app-table-column key="gender" title="Giới tính" width="80px">
                <ng-template table-cell let-row>
                    {{ row.gender | gender }}
                </ng-template>
            </app-table-column>
            <app-table-column key="code" title="Mã sinh viên" width="100px"/>
            <app-table-column key="department.name" title="Khoa" width="150px"/>
            <app-table-column key="email" title="Email" width="200px"/>
            <app-table-column [responsive]="{ md: true }" [right]="true" key="action" title="" width="80px">
                <ng-template table-cell let-row>
                    <div class="flex justify-center items-center gap-1">
                        <div (click)="onDelete(row.id!)" class="action-on-hover opacity-0 w-[36px] h-[36px] cursor-pointer text-xl rounded-full text-red-500 hover:bg-gray-300 transition-all duration-300 flex items-center justify-center">
                            <i class='bx bx-trash-alt' ></i>
                        </div>
                        <div (click)="onEdit(row.id!)" class="action-on-hover opacity-0 w-[36px] h-[36px] cursor-pointer text-xl rounded-full text-[#1f1f1f] hover:bg-gray-300 transition-all duration-300 flex items-center justify-center">
                            <i class='bx bx-edit-alt' ></i>
                        </div>
                    </div>
                </ng-template>
            </app-table-column>
            <app-table-column [responsive]="{ xs: true, md: false }" [right]="true" key="action" title="" width="40px">
                <ng-template table-cell let-row>
                    <div class="flex justify-center items-center gap-1">
                        <div nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="w-[36px] h-[36px] cursor-pointer text-xl rounded-full text-[#1f1f1f] hover:bg-gray-300 transition-all duration-300 flex items-center justify-center">
                            <i class='bx bx-dots-vertical-rounded' ></i>
                        </div>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="w-[150px] h-auto p-2 rounded-md bg-white shadow border border-gray-150">
                                <div class="flex flex-col gap-1">
                                    <div (click)="onEdit(row.id!)" class="flex items-center gap-2 px-2 cursor-pointer py-1 hover:bg-gray-200 transition-all duration-300 rounded-md text-base">
                                        <i class='bx bx-edit-alt text-black text-xl' ></i>
                                        <span class="text-gray-500">Chỉnh sửa</span>
                                    </div>
                                    <div (click)="onDelete(row)" class="flex items-center gap-2 px-2 cursor-pointer py-1 hover:bg-gray-200 transition-all duration-300 rounded-md text-base">
                                        <i class='bx bx-trash-alt text-red-600 text-xl' ></i>
                                        <span class="text-gray-500">Xoá</span>
                                    </div>
                                </div>
                            </div>
                        </nz-dropdown-menu>
                    </div>
                </ng-template>
            </app-table-column>
        </app-table>
    </div>

</div>

<app-student-form [isVisible]="isVisible$ | async"
                  [isLoading]="isLoading$ | async"
                  [student]="student$ | async"
                  [departments]="departments$ | async"
                  (ok)="onSave($event)"
                  (cancel)="onClose()"
></app-student-form>

<app-student-import [isVisible]="isVisibleImport$ | async"
                    [isLoading]="isLoading$ | async"
                    (ok)="onSaveImport($event)"
                    (cancel)="onCloseImport()"/>
