<nz-modal [(nzVisible)]="isVisible"
          [nzCentered]="true"
          [nzWidth]="550"
          [nzBodyStyle]="{ padding: '0', maxHeight: 'unset' }"
          (nzOnCancel)="onCancel()"
          [nzAutofocus]="'auto'"
          [nzFooter]="null"
          nzTitle="">
    <ng-container *nzModalContent>
        <div class="bg-white border-b border-gray-150 px-4 py-3 rounded-t-md">
            <div class="font-semibold text-base">
                Tìm kiếm đề tài
            </div>
            <div class="mt-2">
                <app-form [debounceTime]="500" (valueChanges)="onSearch($event)">
                    <app-form-text control="q" noFormWrapper allowClear placeholder="Nhập để tìm kiếm"/>
                </app-form>
            </div>
        </div>
        <div class="h-[55vh] sm:h-[450px] bg-[#F5F5F5] overflow-x-hidden overflow-y-auto scrollable px-4 py-3"
             [class.rounded-b-md]="!isMultiple">
            <div *ngFor="let project of filterProjects; let index = index;"
                 [class.mt-3]="index > 0"
                 class="bg-white rounded-md shadow">
                <div class="px-3 py-2 font-semibold border-b border-gray-150 truncate">
                    {{ index < 10 ? '0' + (index + 1) : (index + 1) }}. {{ project.name }}
                </div>
                <div class="px-3 py-2 flex flex-col gap-1">
                    <div class="line-clamp-2">
                        <strong>Mô tả:</strong>
                        {{ project.description }}
                    </div>
                    <div class="line-clamp-2">
                        <strong>Yêu cầu:</strong>
                        {{ project.requirement }}
                    </div>
                    <div>
                        <strong>Người hướng dẫn:</strong>
                        {{ project.instructor | rankFullName }}
                    </div>
                    <div class="flex gap-1">
                        <strong> Sinh viên thực hiện:</strong>
                        <div>
                            <div *ngFor="let student of project.students">
                                {{ student.code }} - {{ student.fullName }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-3 py-2 flex justify-between items-center border-t border-gray-150">
                    <a target="_blank" [routerLink]="['/project-management', project.id]">
                        <button nzSize="small" nz-button nzType="default">
                            Chi tiết
                        </button>
                    </a>
                    <button nzSize="small" nz-button
                            nzType="primary"
                            [nzDanger]="isMultiple && isSelected(project.id!)"
                            (click)="onSelect(project)">
                        {{ isMultiple && isSelected(project.id!) ? 'Bỏ chọn' : 'Chọn' }}
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="isMultiple" class="flex bg-white items-center rounded-b-md justify-between px-4 py-3 border-t border-gray-150">
            <div>
                Đã chọn: <strong>{{ selected.length }}</strong>
            </div>
            <button class="w-[100px]" nzSize="large" nz-button nzType="primary" (click)="onOk()">
                Xác nhận
            </button>
        </div>
    </ng-container>
</nz-modal>
