<nz-modal [(nzVisible)]="isVisible"
          [nzCentered]="true"
          [nzFooter]="null"
          [nzWidth]="500"
          (nzOnCancel)="onCancel()">
    <ng-container *nzModalContent>
        <div class="flex flex-wrap items-center gap-x-1">
            <div class="text-base font-bold">
                Nhập sinh viên từ file Excel
            </div>
            <div class="">
                (Tải về file mẫu: <a class="text-blue-500" (click)="onDownloadSample()">Excel file</a>)
            </div>
        </div>
        <div class="mt-4">
            <div class="font-bold">
                Xử lý <span class="italic">trùng</span> mã sinh viên, khác thông tin sinh viên?
            </div>
            <div class="mt-1">
                <nz-radio-group [(ngModel)]="duplicateCode">
                    <label class="block" nz-radio [nzValue]="0">
                        Báo lỗi và dừng import
                    </label>
                    <label class="block" nz-radio [nzValue]="1">
                        Thay thế bằng thông tin sinh viên mới
                    </label>
                </nz-radio-group>
            </div>
        </div>
        <div class="mt-6">
            <nz-upload
                    class="w-full h-[180px]"
                    nzType="drag"
                    [nzMultiple]="false"
                    [nzFileList]="files"
                    [nzShowUploadList]="{ showRemoveIcon: true, showDownloadIcon: false }"
                    [nzAccept]="['.xlsx', '.xls']"
                    [nzCustomRequest]="customRequest"
                    (nzChange)="onFileChanges($event)">
                <p>
                    <i class='bx bx-archive-out text-5xl'></i>
                </p>
                <p class="ant-upload-text">Chọn hoặc kéo thả tệp để tải lên</p>
                <p class="ant-upload-hint">
                    Kích thước tệp tối đa 5MB!
                </p>
            </nz-upload>
        </div>
        <div class="mt-6 flex justify-between gap-2">
            <button class="flex items-center justify-center w-[100px]"
                    nzSize="large" nz-button nzType="default" (click)="onCancel()" [disabled]="isLoading">
                <i class='bx bx-chevron-left text-lg'></i>
                <span class="mr-1.5">Quay lại</span>
            </button>
            <button class="flex items-center justify-center gap-2"
                    nzSize="large" nz-button nzType="primary" [disabled]="isLoading" [nzLoading]="isLoading" (click)="onImport()">
                Nhập dữ liệu
                <i class='bx bx-save text-lg'></i>
            </button>
        </div>
    </ng-container>
</nz-modal>
