<div class="w-full h-full flex flex-col lg:flex-row bg-[url('assets/images/backgrounds/error-bg.jpg')]">
    <div class="w-full flex items-center justify-center p-10">
        <div class="border border-gray-150 shadow bg-white rounded-md w-full lg:w-[650px] p-6 sm:p-8 lg:p-12 flex justify-center">
            <nz-result nzStatus="404" nzTitle="404" nzSubTitle="Xin lỗi, trang này không tồn tại!">
                <div nz-result-extra>
                    <button routerLink="/" nz-button nzType="default" nzSize="large">Quay lại</button>
                </div>
            </nz-result>
        </div>
    </div>
</div>
