<div id="app-forgot-password" class="w-full">
    <div class="w-full text-center mb-8">
        <h1 class="text-black font-extrabold mb-1 text-lg md:text-2xl">Quên Mật Khẩu?</h1>
        <div class="text-gray-400 font-semibold lg:text-base">Vui lòng nhập email để khôi phục mật khẩu.</div>
    </div>
    <form nz-form [formGroup]="form" (keydown.enter)="onForgot()">
        <div class="mb-8">
            <div>
                <input nz-input id="email" placeholder="Email" formControlName="email" nzSize="large">
                <app-form-error formControlName="email" label="Email"/>
            </div>
            <div class="mt-3 flex justify-center">
                <re-captcha formControlName="recaptcha"></re-captcha>
            </div>
        </div>
        <div class="flex items-center gap-4">
            <button class="w-1/2" nz-button nzBlock nzType="primary" nzSize="large" (click)="onForgot()">Gửi</button>
            <button class="w-1/2" nz-button nzBlock nzType="default" nzSize="large" [routerLink]="['/' + loginUrl]">Trở về</button>
        </div>
        <div class="rounded-md text-red-600 bg-red-200 border border-red-300 mt-4 px-4 py-2"
             *ngIf="(errors$ | async) as errors">
            {{ errors.message || defaultError }}
        </div>
    </form>
</div>
