<nz-table
    #table
    class="w-full h-auto"
    [nzSize]="size"
    [nzData]="data"
    [nzLoading]="isLoading"
    [nzTableLayout]="'fixed'"
    [nzOuterBordered]="outerBordered"
    [nzBordered]="bordered"
    [nzNoResult]="noResult"
    [nzShowPagination]="false"
    [nzFrontPagination]="false"
    [nzTotal]="pagination?.itemCount || 0"
    [nzScroll]="((!mobileResponsive
        || (mobileResponsive && !_isMobile))
        && scroll) || {}"
    (nzQueryParams)="queryParams.emit($event)">
    <thead *ngIf="showHeader">
    <tr>
        <th *ngIf="showCheckbox" nzAlign="center" nzWidth="20px"
            [nzChecked]="_checked" [nzIndeterminate]="_indeterminate"
            [nzAlign]="'center'"
            (nzCheckedChange)="onAllChecked($event)"
            (click)="$event.stopPropagation(); $event.preventDefault();"
        ></th>
        <th nzWidth="20px" *ngIf="_showExpand" nzAlign="center"></th>
        <th nzWidth="50px" *ngIf="showIndex" nzAlign="center">STT</th>
        <th *ngFor="let column of _columns"
            [nzLeft]="column.left"
            [nzRight]="column.right"
            [nzAlign]="column.align"
            [nzSortFn]="column.sortFn"
            [nzShowSort]="column.sortable && data.length > 0"
            [nzColumnKey]="column.sortKey || column.key"
            [nzSortOrder]="column.sortable
                        ? ((column.sortKey || column.key) | sortOrder : sortBy : orderBy)
                        : null"
            [nzWidth]="column.width"
            (nzSortOrderChange)="column.sortOrderChange.emit({ key: column.key, order: $event })">
            <ng-container *ngIf="column.header">
                <ng-container *ngTemplateOutlet="column.header.template; context: { $implicit: column }"></ng-container>
            </ng-container>
            <ng-container *ngIf="!column.header">
                {{ column.title }}
            </ng-container>
        </th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let row of table.data; let index = index;">
        <tr (click)="rowClickable && rowClick.emit(row)"
            [class]="rowClassFn ? rowClassFn(row) : ''"
            [class.cursor-pointer]="rowClickable">
            <td *ngIf="showCheckbox" [nzChecked]="_setOfCheckedId.has(row.id)"
                [nzAlign]="'center'"
                (nzCheckedChange)="onItemChecked(row.id, $event)"
                (click)="$event.stopPropagation(); $event.preventDefault();"
            ></td>
            <td nzAlign="center" *ngIf="_showExpand"
                [(nzExpand)]="row.expand"
                (nzExpandChange)="expand.emit({ row, index, expand: $event })"
                (click)="$event.stopPropagation(); $event.preventDefault();"
            ></td>
            <td *ngIf="showIndex" nzAlign="center">
                {{ index | tableIndex: pagination }}
            </td>
            <td *ngFor="let column of _columns"
                [nzLeft]="column.left"
                [nzAlign]="column.align"
                [nzRight]="column.right"
                [ngClass]="column.className"
                class="break-[word]">
                <ng-container *ngIf="column.cell">
                    <ng-container *ngTemplateOutlet="column.cell.template; context: { $implicit: row, index }"></ng-container>
                </ng-container>
                <ng-container *ngIf="!column.cell">
                    {{ column.key | get: row }}
                </ng-container>
            </td>
        </tr>
        <tr *ngIf="_showExpand" [nzExpand]="row.expand">
            <ng-container *ngTemplateOutlet="_expandTemplate; context: { $implicit: row, index }"></ng-container>
        </tr>
    </ng-container>
    </tbody>
</nz-table>

<ng-container *ngIf="showPagination && pagination">
    <div class="w-full flex justify-end"
         [class.p-4]="paginationSize !== 'small'"
         [class.mt-4]="paginationSize === 'small'">
        <nz-pagination
                [nzSize]="paginationSize"
                [nzShowTotal]="rangeTemplate"
                [nzPageIndex]="pagination.page"
                [nzPageSize]="pagination.limit"
                [nzPageSizeOptions]="pageSizeOptions"
                [nzShowSizeChanger]="paginationSize !== 'small'"
                [nzShowQuickJumper]="false"
                [nzTotal]="pagination.itemCount"
                [nzDisabled]="isLoading"
                [nzResponsive]="paginationResponsive"
                (nzPageIndexChange)="onPageIndexChange($event)"
                (nzPageSizeChange)="onPageSizeChange($event)"
        ></nz-pagination>
        <ng-template #rangeTemplate let-range="range" let-total>
            {{ range[0] }}-{{ range[1] }} / {{ total }} bản ghi
        </ng-template>
    </div>
</ng-container>
